<p style="color: green"><%= notice %></p>

<h1 class="text-center font">Instrumentos</h1>

<div id="instrumentos">
  <% @instrumentos.each do |instrumento| %>
    <%= render instrumento %>

  <% end %>
</div>

<div class="row">
  <div class="col-md-5"> </div>
  <div class="col-md-2">
    <%= link_to "Instrumento creer nouvel", new_instrumento_path, class: "btn btn-primary" %>
    <%= link_to "página inicial", avaliacaos_path, class: "btn btn-primary mt-3" %>
  </div>
  <div class="col-md-5"> </div>
</div>


