<div id="<%= dom_id avaliacao_instrumento %>">
  <p>
    <strong>Avaliacao:</strong>
    <%= avaliacao_instrumento.avaliacao_id %>
  </p>

  <p>
    <strong>Instrumento:</strong>
    <%= avaliacao_instrumento.instrumento_id %>
  </p>

</div>
