<h1>Editing avaliacao instrumento</h1>

<%= render "form", avaliacao_instrumento: @avaliacao_instrumento %>

<br>

<div>
  <%= link_to "Show this avaliacao instrumento", @avaliacao_instrumento %> |
  <%= link_to "Back to avaliacao instrumentos", avaliacao_instrumentos_path %>
</div>
