<p style="color: green"><%= notice %></p>

<h1 class="text-center font mt-3 mb-3">Avaliacao instrumentos</h1>

<div id="avaliacao_instrumentos">
  <% @avaliacao_instrumentos.each do |avaliacao_instrumento| %>
    <%= render avaliacao_instrumento %>
    <p>
      
    </p>
  <% end %>
</div>
<div class="row">
  <div class="col-md-2"> </div>
  <div class="col-md-8">
    <%= link_to "+ Adicione um novo instrumento a esta avaliação", new_avaliacao_avaliacao_instrumento_path(@avaliacao), class: "btn btn-primary" %><br>
    <%= link_to "retornar à avaliação", avaliacao_path(@avaliacao), class: "btn btn-primary mt-3" %>
  </div>
  <div class="col-md-2"> </div>
</div>

