<h1 class="text-center font">New avaliacao instrumento</h1>

<%= render "form", avaliacao_instrumento: @avaliacao_instrumento %>

<br>

<div>
  <%= link_to "Back to avaliacao instrumentos", avaliacao_avaliacao_instrumentos_path(@avaliacao), class: "btn btn-primary" %>
</div>
