<h1>Editing avaliacao</h1>

<%= render "form", avaliacao: @avaliacao %>

<br>

<div>
  <%= link_to "Show this avaliacao", @avaliacao %> |
  <%= link_to "Back to avaliacaos", avaliacaos_path %>
</div>
